* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-green: #49aa26;
	--color-dark-green: #2d4a22;
	--color-background: #f0f2f5;
	--color-white: #ffffff;
	--color-text-title: #363f5f;
	--color-text: #969cb3;
	--color-box-line: #dcdce5;
	--color-red: #e92929;
	font-size: 62.5%;
}

body {
	background: var(--color-background);
	font-family: 'Poppins', Arial, sans-serif;
	color: var(--color-text);
	font-size: 1.6rem;
}

.thumbnail {
	margin-top: 3.2rem;
	text-align: center;
}

.thumbnail a {
	color: var(--color-text);
	text-decoration: none;
	transition: all 0.2s;
}

.thumbnail a:hover {
	color: var(--color-text-title);
}
