<!DOCTYPE html>
<html lang="pt-mz">
	<head>
		<%- include('../../partials/head') %>
		<link rel="stylesheet" type="text/css" href="/views/pages/home/style.css" />
		<link rel="stylesheet" href="/views/styles/header.css" />
		<link rel="stylesheet" href="/views/styles/footer.css" />

		<title>R-Neonatal</title>
	</head>
	<body>
		<%- include('../../partials/header') %> <%-
		include('../../partials/thumbnail', { level2: { link: '', text: '' },
		level3: { link: '', text: '' } }) %>

		<main>
			<a href="http://localhost:3333/mothers" class="card-mother">
				<section class="card-description">
					<h2>Mães</h2>
					<img src="/views/assets/mother.svg" alt="icon" />
				</section>

				<section class="card-number">
					<span>50</span>
				</section>
			</a>

			<a href="" class="card-child">
				<section class="card-description">
					<h2>Filhos</h2>
					<img src="/views/assets/baby.svg" alt="icon" />
				</section>

				<section class="card-number">
					<span>50</span>
				</section>
			</a>
		</main>

		<%- include('../../partials/footer') %>
	</body>
</html>
