<header class="page-header">
	<div>
		<strong>R-NEONATAL</strong>
		<span>Bem vinda, Naira</span>
	</div>

	<nav>
		<a class="button-register link" href="">Registar usuário</a>
		<a href="">
			<img src="/views/assets/sair.svg" alt="sair" />
		</a>
	</nav>
</header>
