<nav class="thumbnail">
	<a href="http://localhost:3333"> Home </a>
	<a href="<%= `http://localhost:3333${level2[0]}` %> "><%= level2[1] %> </a>
	<a href="<%= `http://localhost:3333${level3[0]}` %> "><%= level3[1] %> </a>
</nav>
