<nav class="thumbnail">
	<a href="http://localhost:3333"> Home </a>
	<a href="<%= `http://localhost:3333${level2.link}` %> "
		><%= level2.text %>
	</a>
	<a href="<%= `http://localhost:3333${level3.link}` %> "
		><%= level3.text %>
	</a>
</nav>
