<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../partials/head') %>
		<link
			rel="stylesheet"
			type="text/css"
			href="/views/pages/mothers/style.css"
		/>
		<link rel="stylesheet" href="/views/styles/header.css" />
	</head>
	<body>
		<%- include('../../partials/header') %>

		<main>
			<header>
				<h1>Mães cadastradas</h1>
				<a href="">Cadastrar nova</a>
			</header>

			<ul></ul>
		</main>
	</body>
</html>
